@keyframes history-li-anim {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes favorites-pane-container-fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.favoriteBtn {
    background-color: transparent;
    outline: none;
    border-style: none;
    padding: 0;
    transition: transform 0.1s ease;
}

.favoriteBtn:active {
    transform: scale(1.2);
}

.favoriteBtn:disabled {
    cursor: not-allowed;
}

ul.favorites.hide > li.favorites.hide {
    list-style-type: none;
    visibility: hidden;
    display: none;
}

ul.favorites.light.show {
    animation-name: favorites-pane-container-fade;
    animation-duration: 0.3s;
    list-style-type: none;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    backdrop-filter: blur(2px);
    max-height: 184px;
    overflow: auto;
}

ul.favorites.dark.show {
    animation-name: favorites-pane-container-fade;
    animation-duration: 0.3s;
    list-style-type: none;
    visibility: visible;
    background-color: rgba(52, 52, 52, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px whitesmoke;
    backdrop-filter: blur(2px);
    max-height: 184px;
    overflow: auto;
}

li.favorites.show {
    background-image: url('/assets/favorites/heart_filled.webp'); 
    background-position: 10px;
    background-repeat: no-repeat; 
    background-size: 20px;
    animation-name: history-li-anim;
    animation-duration: 0.2s;
    background-color: white;
    border-radius: 20px;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
}

li.favorites.show:hover {
    background-color: grey;
}
