@keyframes history-li-anim {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.favoriteBtn {
    background-color: transparent;
    outline: none;
    border-style: none;
    padding: 0;
    transition: transform 0.1s ease;
}

.favoriteBtn:active {
    transform: scale(1.2);
}

.favoriteBtn:disabled {
    cursor: not-allowed;
}

ul.favorites.hide > li.favorites.hide {
    list-style-type: none;
    visibility: hidden;
    display: none;
}

ul.favorites.show > li.favorites.show {
    background-image: url('/assets/favorites/heart_filled.png'); 
    background-position: 10px;
    background-repeat: no-repeat; 
    background-size: 20px;
    animation-name: history-li-anim;
    animation-duration: 0.2s;
    list-style-type: none;
    visibility: visible;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin: 3px;
    cursor: pointer;
}

ul.favorites.show > li.favorites.show:hover {
    background-color: grey;
}
