@keyframes history-li-anim {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

ul.recents.hide > li.recents.hide {
    list-style-type: none;
    visibility: hidden;
    display: none;
}

ul.recents.light.show {
    list-style-type: none;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    backdrop-filter: blur(2px);
}

ul.recents.dark.show {
    list-style-type: none;
    visibility: visible;
    background-color: rgba(52, 52, 52, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px whitesmoke;
    backdrop-filter: blur(2px);
}

li.recents.show {
    background-image: url('/assets/icons/recent.webp'); 
    background-position: 10px;
    background-repeat: no-repeat; 
    background-size: 20px;
    animation-name: history-li-anim;
    animation-duration: 0.2s;
    background-color: white;
    border-radius: 20px;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

li.favorites.show:hover {
    background-color: grey;
}
