@keyframes history-li-anim {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes recents-pane-container-fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

ul.recents.hide > li.recents.hide {
    list-style-type: none;
    visibility: hidden;
    display: none;
}

ul.recents.light.show {
    animation-name: recents-pane-container-fade;
    animation-duration: 0.3s;
    list-style-type: none;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    backdrop-filter: blur(2px);
}

ul.recents.dark.show {
    animation-name: recents-pane-container-fade;
    animation-duration: 0.3s;
    list-style-type: none;
    visibility: visible;
    background-color: rgba(52, 52, 52, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px whitesmoke;
    color: whitesmoke;
    backdrop-filter: blur(2px);
}

li.recents.show {
    --icon-size: 20px;
    --icon-offset: 10px;
    --icon-gap: 10px;
    background-image: url('/assets/icons/recent.webp'); 
    background-position: var(--icon-offset) center;
    background-repeat: no-repeat; 
    background-size: var(--icon-size) var(--icon-size);
    animation-name: history-li-anim;
    animation-duration: 0.2s;
    background-color: white;
    border-radius: 20px;
    margin: 3px;
    padding: 5px;
    padding-left: calc(var(--icon-offset) + var(--icon-size) + var(--icon-gap));
    cursor: pointer;
}

li.favorites.show:hover {
    background-color: grey;
}
