@keyframes history-li-anim {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

ul.recents.hide > li.recents.hide {
    list-style-type: none;
    visibility: hidden;
    display: none;
}

ul.recents.show > li.recents.show {
    animation-name: history-li-anim;
    animation-duration: 0.2s;
    list-style-type: none;
    visibility: visible;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin: 3px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

ul.recents.show > li.recents.show:hover {
    background-color: grey;
}
