@keyframes info-pane-fade {
    from {
        opacity: 0;
        transform: scale(1.2);
        /* backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px); */
    }
    to {
        opacity: 1;
        transform: scale(1);
        /* backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px); */
    }
}

@keyframes info-pane-container-fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

html {
    font-family: "Inter", sans-serif;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(65, 196, 240, 1) 50%, rgba(154, 216, 252, 1) 100%);
}

button {
    cursor: pointer;
}

.Clock {
    display: flex;
    justify-content: center;
}

.ControllerPaneContainer {
    animation-name: info-pane-fade;
    animation-duration: 1s;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    justify-content: center;
    top: 0;
    position: sticky;
    z-index: 3;
}

.ClockTimeDatePane {
    animation-name: info-pane-fade;
    animation-duration: 1s;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    box-shadow: 0px 0px 2px;
    border-radius: 50px;
    margin: 10px;
}

.ForecastInfoContainer {
    animation-name: info-pane-fade;
    animation-duration: 1s;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: nowrap; 
    white-space: nowrap;
    padding: 15px;
    max-width: 75%;
    margin: auto;
    box-shadow: 0px 0px 2px;
    border-radius: 35px;
    background-color: white;
    background-image: url(/assets/backgrounds/bg_fore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 0;
}

.InfoPaneContainer {
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
    flex-wrap: wrap;
    row-gap: 20px;
    /* grid-template-rows: auto;
    grid-template-columns: auto auto; */
    padding: 30px;
    border-radius: 35px;
    box-shadow: 0px 0px 10px;
    background-color: #7fd0ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: info-pane-container-fade;
    animation-duration: 0.5s;
    z-index: 0;
}

.WeatherInfoPaneContainer {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* grid-template-rows: auto;
    grid-template-columns: auto auto; */
    padding: 35px;
    font-weight: 400;
    border-radius: 35px;
    box-shadow: 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    /* background-image: url(./src/assets/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: info-pane-container-fade;
    animation-duration: 0.5s;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.ExtraInfoPaneContainer {
    animation-name: info-pane-container-fade;
    animation-duration: 0.5s;
    /* background-color: #0cacf1; */
    border-radius: 50px;
    box-shadow: 0px 0px 10px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.InfoPane {
    animation-name: info-pane-fade;
    animation-duration: 1s;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.3); */
    text-align: center;
    /* box-shadow: 0px 0px 10px white; */
    border-radius: 50px;
    margin: 10px;
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    z-index: 2;
}

.ForecastInfoPane {
    display: grid;
    grid-template-rows: 25px, 25px 25px 25px 25px;
    grid-template-columns: auto;
    animation-name: info-pane-fade;
    animation-duration: 1s;
    box-shadow: 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
    backdrop-filter: blur(8px);
    z-index: 2;
}

.TimeDate {
    font-family: "Inter", sans-serif;
    opacity: 1;
}

.EventButton {
    border-style: none;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
    font-family: "Inter", sans-serif;
}

.EventInput {
    border-style: none;
    border-radius: 50px;
    Padding: 10px;
    font-family: "Inter", sans-serif;
}

.TemperatureGrid {
    padding: 20px;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.gauge {
    --size: 90px;
    --cutout: 50%;
    --color-start: rgb(223, 246, 255);
    --color-end: #7fd0ff;
    --background: white;
    font-size: 25px;
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    background:
    radial-gradient(
        var(--background) 0 var(--cutout),
        transparent var(--cutout) 100%),
        conic-gradient(from -180deg, 
        var(--color-start) 0deg,
        var(--color-end) calc(360deg*var(--value)),
        grey calc(360deg*var(--value)) 360deg, 
        transparent 360deg);
    text-align: center;
    line-height: var(--size);
}


#unit {
    font-family: "Inter", sans-serif;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
}

#MiniTempRow {
    display: flex;
    justify-content: center;
}

ul.forecast > li.forecast {
    display: inline-block;
    padding-left: 5px;
}

ul.locations {
    list-style-type: none;
}

li.locations {
     padding: 5px;
     background-color: white;
     border-radius: 20px;
     margin: 3px;
     transition: background-color 0.2s ease;
}

li.locations:hover {
     background-color: grey;
}

span {
    background-color: rgba(0, 0, 0, 0);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease;
}

span:hover {
    background-color: rgba(255,255, 255, 0.5);
    transform: scale(1.1);
    box-shadow: 0px 0px 0px;
}

button {
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #c3c3c3;
}

input {
    transition: background-color 0.2s ease-in-out;
}

input:hover {
    background-color: #c3c3c3;
}

select {
    transition: background-color 0.2s ease-in-out;
}

select:hover {
    background-color: #c3c3c3;
}
