@keyframes info-pane-fade {
    from {
        opacity: 0;
        transform: scale(1.2);
        /* backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px); */
    }
    to {
        opacity: 1;
        transform: scale(1);
        /* backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px); */
    }
}

@keyframes info-pane-container-fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes locations-li-anim {
    from {
        transform: scale(0.8);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

html, body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
  min-height: 100%;
}

#bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

#darkModeBtn {
    border-style: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-family: "Inter", sans-serif;
    position: sticky;
    box-shadow: 0px 0px 5px white;
    outline: none;
    bottom: 30px;
    left: 15px;
    z-index: 4;
    font-size: 35px;
    backdrop-filter: blur(2px);
}

button {
    cursor: pointer;
}

#unit {
    font-family: "Inter", sans-serif;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
}

#MiniTempRow {
    display: flex;
    justify-content: center;
}

span {
    background-color: rgba(0, 0, 0, 0);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease;
}

span:hover {
    background-color: rgba(255,255, 255, 0.5);
    transform: scale(1.1);
    box-shadow: 0px 0px 0px;
}

button {
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #c3c3c3;
}

input {
    transition: background-color 0.2s ease-in-out;
}

input:hover {
    background-color: #c3c3c3;
}

select {
    transition: background-color 0.2s ease-in-out;
}

select:hover {
    background-color: #c3c3c3;
}
